node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

ignition/deployments

# Openvscode
.cache
.local
.openvscode-server
.devcontainer/conflux/devkit/dist/
.devcontainer/conflux/devkit/node_modules/